$themes: (
  first: #dd1b24,
  second: white,
  third: #03608e,
  fourth: #000000,
  fifth: #03608e,
  sixth: #9aa0b2,
  seventh: #f7f5f5,
  eighth: #03608e,
  ninth: #03608e,
);

$height-navbar: 122px;

$font-size: (
  16: 1.6rem,
  18: 1.8rem,
  20: 2rem,
  22: 2.2rem,
  23: 2.3rem,
  25: 2.5rem,
  30: 3rem,
  35: 3.5rem,
  62: 6.2rem,
);
