html[dir="rtl"] {
  //
  .counter__wrapper:not(:last-child)::after {
    left: -23px;
    right: auto;
  }

  //
  .navbar__items {
    @media (max-width: 66.875em) {
      left: auto;
      right: -50%;
    }

    @media (max-width: 23.125em) {
      right: -70%;
    }

    &--active {
      right: 0;
    }
  }
}
