@font-face {
  font-family: "DINNext";
  src: url(~@/assets/fonts/din-next/Bold.ttf);
  font-weight: 500;
}

@font-face {
  font-family: "DINNext";
  src: url(~@/assets/fonts/din-next/regular.ttf);
  font-weight: 300;
}
